* {
  transition: all 0.2s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 300%;
}
.wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -100px;
}
#pick-new-student {
  cursor: pointer;
  background: #feb0b2;
  padding: 20px 40px;
  border-radius: 4px;
  display: inline;
}
#pick-new-student:hover {
  background: #fd7e86;
}
#pick-new-student:active {
  background: #f94e5e;
  padding: 18px 40px 22px;
  margin-left: 2px;
  color: #300001;
}
#pair-picker {
  cursor: pointer;
  background: #feb0b2;
  padding: 20px 40px;
  border-radius: 4px;
  display: inline;
}
